@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800&display=swap');

/*************/
/*** SETUP ***/
/*************/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

/************/
/*** BASE ***/
/************/

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat';
	background-color: #f7f7fa;
}

h1 {
	font-size: 4rem;
	font-weight: 800;
	color: #454f63;
}

p {
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #454f63;
}

a {
	color: #959dad;
}

.btn {
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #665eff;
	border-radius: 10px;
	border: none;
	padding: 1.5rem 0;
	width: 100%;
}

.btnSecondary {
	background: #454f63;
}

.backBtn {
	font-size: 2rem;
	color: #454f63;
	margin-bottom: 1.5rem;
}

.authBackBtn {
	position: absolute;
	top: 5rem;
	font-size: 2rem;
	color: #454f63;
}

.container {
	height: 100%;
	padding: 2.5rem;
	background-color: #f7f7fa;
	display: flex;
}

/**************/
/*** SPLASH ***/
/**************/

.splash {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.splash .btn:first-of-type {
	margin-bottom: 1.5rem;
}

.splash p {
	margin-bottom: 3.5rem;
}

/******************/
/*** AUTH PAGES ***/
/******************/

.auth {
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-align: center;
	height: 100vh;
}

.auth h1 {
	margin-bottom: 2rem;
}

.authContainer {
	display: flex;
	flex-direction: column;
}

.authInput {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 2.5rem;
	border-radius: 10px;
	border: none;
	padding: 1.5rem 2.5rem;
	box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
}

.authInput::placeholder {
	color: hsla(221, 16%, 55%, 0.56);
}

/**************/
/*** HEADER ***/
/**************/

.header {
	background: #fff;
	box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
	padding: 3rem 2rem 1.5rem 2rem;
	position: fixed;
	width: 100%;
}

/****************/
/*** THOUGHTS ***/
/****************/

.thoughtsContainer {
	padding-top: 134.5px;
	padding-bottom: 43px;
}

.thoughtsContainer ul {
	padding: 2.5rem 0;
	list-style: none;
}

/********************/
/*** CARD ***/
/********************/

.card {
	background: #fff;
	padding: 0.75rem 0 1rem 0;
	border-radius: 10px;
}

.card:not(:last-child) {
	margin-bottom: 2rem;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f4f4f6;
	padding: 0 2rem 0.25rem 2rem;
}

.cardHeader p {
	font-size: 1.2rem;
}

.cardTitle {
	text-transform: uppercase;
}

.cardContent {
	padding: 1.5rem 2rem;
}

.cardResult {
	background: #f7f7fa;
	margin: 0 1.2rem;
	padding: 0.75rem 1.4rem;
	border-radius: 10px;
}

.cardResult p {
	font-size: 1.3rem;
	color: #454f63;
	font-weight: 700;
}

/********************/
/*** NAV ***/
/********************/

.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
}

.nav {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.nav a {
	width: calc(100% / 3);
	text-align: center;
	padding: 1.5rem 0 1rem 0;
	text-transform: uppercase;
	font-size: 1.1rem;
}

.active {
	color: #454f63;
	border-bottom: 5px solid #665eff;
}
